
/* body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
} */
/* 
.wrapper {
  display: flex;
  flex: 1;
} */

/* 
.sidebar {
  width: 100px;
  background-color: #4a4e52;
  padding-top: 20px;
} */
/* 
.sidebar a {
  padding: 15px;
  text-decoration: none;
  font-size: 18px;
  color: #f8f9fa;
  display: block;
}

.sidebar a i {
  margin-right: 10px;
}

.sidebar a:hover {
  background-color: #3d6996;
} */
/* 

.content {
  flex: 1;
  padding: 20px;
  padding-top: 50px;
} */

/* 
.navbar {
  z-index: 1000; 
} */

/* Responsive behavior */
/* @media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .content {
    padding-top: 80px; /* Ensure content starts below navbar */
  /* } */
/* } */ */
/* 
.navbar-nav .nav-link {
  display: flex;
  align-items: center;
} */
/* 
.card-title {
  font-size: 1.5rem;
} */

 .table-header {
  background-color: #72a08b; 
  color: white; 
} 