.body {
background: url("{% static 'images/stock.webp' %}") no-repeat center center fixed;
background-size: cover;
display: flex;
align-items: center;
justify-content: center;
height: 100%;
overflow: hidden;
}

.register-container {
max-width: 400px;
padding: 30px;
background: rgba(255, 255, 255, 0.95);
border-radius: 10px;
box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
text-align: center;
max-height: 95vh; /* Allow some margin */
overflow-y: auto;
}

/* Logo */
.logo img {
height: 45px;
}

/* Header */
.register-header h4 {
color: blue;
font-weight: bold;
}

/* Input Fields */
.form-group {
text-align: left;
margin-bottom: 10px;
}
.form-control {
padding: 10px;
border-radius: 10px;
border: 1px solid #ced4da;
}
.form-control:focus {
box-shadow: none;
border-color: blue;
}

/* Register Button */
.btn-register {
width: 100%;
background-color: blue;
color: #fff;
padding: 8px;
border: none;
border-radius: 6px;
font-weight: bold;
transition: 0.3s;
}
.btn-register:hover {
background-color: red;
}

/* Links */
.terms-link, .login-link {
margin-top: 15px;
font-size: 14px;
}
.terms-link a, .login-link a {
text-decoration: none;
color: blue;
font-weight: bold;
}
.terms-link a:hover, .login-link a:hover {
text-decoration: underline;
}