{% extends "InvApp/layout.html" %}

{% block title %} Dashboard {% endblock %}

{% block content %}
<!-- Main content -->
<div class="container-fluid pt-5">
    <div class="shadow-sm p-3 mb-5 bg-body-tertiary rounded">
        <h1 class="text-primary">Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div>
    <!-- Stats Cards -->
    <div class="row mb-3">
        <!-- Total Orders -->
        <div class="col-md-3">
            <div class="card shadow-lg border-left-primary">
                <div class="card-body text-center">
                    <i class="fas fa-shopping-cart fa-2x text-primary mb-2"></i>
                    <h6 class="text-muted">Total Orders</h6>
                    <h4 class="fw-bold">{{ total_orders }}</h4>
                </div>
            </div>
        </div>
    
        <!-- Total Customers -->
        <div class="col-md-3">
            <div class="card shadow-lg border-left-success">
                <div class="card-body text-center">
                    <i class="fas fa-users fa-2x text-success mb-2"></i>
                    <h6 class="text-muted">Total Customers</h6>
                    <h4 class="fw-bold">{{ total_customers }}</h4>
                </div>
            </div>
        </div>
    
        <!-- Total Cash Made -->
        <div class="col-md-3">
            <div class="card shadow-lg border-left-info">
                <div class="card-body text-center">
                    <i class="fas fa-dollar-sign fa-2x text-info mb-2"></i>
                    <h6 class="text-muted">Total Cash Made</h6>
                    <h4 class="fw-bold">{{ total_cash_made }}</h4>
                </div>
            </div>
        </div>
    
        <!-- Low Stock Items -->
        <div class="col-md-3">
            <div class="card shadow-lg border-left-warning">
                <div class="card-body text-center">
                    <i class="fas fa-exclamation-triangle fa-2x text-warning mb-2"></i>
                    <h6 class="text-muted">Low Stock Items</h6>
                    <h4 class="fw-bold">{{ low_stock_count }}</h4>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row mb-3">
        <!-- Total Products -->
        <div class="col-md-3">
            <div class="card shadow-lg border-left-dark">
                <div class="card-body text-center">
                    <i class="fas fa-box fa-2x text-dark mb-2"></i>
                    <h6 class="text-muted">Total Products</h6>
                    <h4 class="fw-bold">{{ total_products }}</h4>
                </div>
            </div>
        </div>
    
        <!-- Total Categories -->
        <div class="col-md-3">
            <div class="card shadow-lg border-left-secondary">
                <div class="card-body text-center">
                    <i class="fas fa-layer-group fa-2x text-secondary mb-2"></i>
                    <h6 class="text-muted">Total Categories</h6>
                    <h4 class="fw-bold">{{ categories }}</h4>
                </div>
            </div>
        </div>
    
        <!-- Adjustments -->
        <div class="col-md-3">
            <div class="card shadow-lg border-left-primary">
                <div class="card-body text-center">
                    <i class="fas fa-tools fa-2x text-primary mb-2"></i>
                    <h6 class="text-muted">Adjustments</h6>
                    <h4 class="fw-bold">{{ average_adjustments }}</h4>
                </div>
            </div>
        </div>
    
        <!-- Stock In -->
        <div class="col-md-3">
            <div class="card shadow-lg border-left-success">
                <div class="card-body text-center">
                    <i class="fas fa-warehouse fa-2x text-success mb-2"></i>
                    <h6 class="text-muted">Stock In</h6>
                    <h4 class="fw-bold">{{total_stock_in }}</h4>
                </div>
            </div>
        </div>
    </div>
    

    <!-- Charts Section -->
    <div class="row">
        <div class="col-md-8">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Sales Trends</h5>
                    <canvas id="salesChart"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Products Trends</h5>
                    <canvas id="stockChart"></canvas>
                </div>
            </div>
        </div>
    </div>

    <!-- Recent Orders and To-Do List -->
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Recent Orders</h5>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Order ID</th>
                                <th scope="col">Customer</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in recent_orders %}
                            <tr>
                                <td>#{{ order.id }}</td>
                                <td>{{ order.customer.name }}</td>
                                <td>{{ order.quantity }}</td>
                                <td>${{ order.final_total|floatformat:2 }}</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="4" class="text-center">No recent orders.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title mt-2 text-primary">Reorder Alerts</h5>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Current Stock</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in low_stock_items %}
                            <tr>
                                <td>{{ item.name }}</td>
                                <td>{{ item.quantity_in_stock }}</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="2" class="text-center">No low stock items.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<div class="footer">© 2024 Inventory Management System</div>
{% endblock %}
