{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style/style.css' %}">

    <!-- Bootstrap & Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/icons.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/app.min.css' %}" />
  </head>
  <style>

  </style>

  <body>
    <div class="login-container">
      <div class="login-header">
        <img src="{% static 'images/logo-sm.png' %}" alt="Logo" height="40" />
        <h3 class="text-primary fw-bold">Welcome Back</h3>
        <p class="text-white-50">Sign in to continue</p>
      </div>

      <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="next" value="{% url 'home' %}" />

        <div class="input-group mb-3">
          <span class="input-group-text text-primary" id="basic-addon1">Username@</span>
          <input type="text" class="form-control" placeholder=" Enter Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <br>
        <div class="input-group mt-3">
          <span class="input-group-text text-primary" id="basic-addon1">Password@</span>
          <input type="text" class="form-control" placeholder=" Enter Password" aria-label="Password" aria-describedby="basic-addon1">
        </div>
        <br>

        {% if error %}
        <div class="error text-danger text-danger">{{ error }}</div>
        {% endif %}

        <button type="submit" class="btn-login">Log In</button>
      </form>

      <div class="forgot-password">
        <a href="#">Forgot your password?</a>
      </div>

      <div class="register-link">
        <p>Don't have an account? <a href="{% url 'register' %}">Signup now</a></p>
      </div>
    </div>

    <!-- JAVASCRIPT -->
    <script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
  </body>
</html>
