{% extends "InvApp/layout.html" %}
{% block title %} Reorder Alerts {% endblock %}

{% block content %}
<div class="container-fluid pt-4">
    <h2 class="text-info fw-bold text-center">Reorder Alerts</h2>

    <section class="mt-4 ">
        <h4 class="text-dark">Overview</h4>
        <p class="text-center fs-6">
            An overview of products that are below their <span class="text-info fs-4">reorder levels. 
            Keep track of these items </span>ensures that we maintain optimal stock levels and avoid stockouts.
        </p>
    </section>

    <section class="mt-4">
        <h4 class="text-info">Key Metrics</h4>
        <ul class="list-group">
            <li class="list-group-item">Total Products: {{ total_products }}</li>
            <li class="list-group-item">Low Stock Items: {{ low_stock_count }}</li>
            <li class="list-group-item">Average Reorder Quantity: {{ average_reorder_quantity }}</li>
        </ul>
    </section>

    <!-- Reorder Alerts Section -->
    <section class="mt-4">
        <h4 class="text-info">Low Stock Items</h4>
        <table class="table text-center "> 
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Current Stock</th>
                    <th>Reorder Level</th>
                    <th>Suggested Reorder Quantity</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for item in low_stock_items %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.quantity_in_stock }}</td>
                    <td>{{ item.reorder_level }}</td>
                    <td>{{ item.reorder_quantity }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4" class="text-center">No low stock items.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</div>
{% endblock %}
