
body {
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
} 

.card-title {
  font-size: 1.5rem;
} 
.table-header {
  background-color: #72a08b; 
  color: white; 
} 
.content {
  margin-left: 250px; /* Match sidebar width */
  flex-grow: 1;
  padding: 50px;
  width: calc(100% - 250px); /* Ensure correct width */
  background-color: rgb(248, 249, 250);
  transition: margin-left 0.3s ease;
    font-family: 'Times New Roman', Times, serif;
}

 
  
  form.d-flex .btn {
    margin-left: 0.5rem;
  }

.navbar {
  background-color: #69b4e6 !important;
  border-bottom: 3px solid black;
  padding: 0px;
}

.navbar-brand {
  font-size: 10px;
  font-weight: bold;
  color: white !important;
}

  #fullscreen-btn {
      background-color: white;
      color: black;
      border: 1px solid rgb(245, 243, 243);
      padding: 8px 15px;
      border-radius: 5px;
      cursor: pointer;
  }
  #fullscreen-btn:hover {
      background-color: black;
      color: white;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: 0; 
    height: 100vh;
    width: 250px; 
    background-color: rgb(209, 229, 247);
    padding-top: 20px;
    overflow-y: auto;
    transition: all 0.3s ease-in-out;
  }

.sidebar a {
  display: flex;
  align-items: center;
  padding: 12px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: black;
  border-left: 4px solid transparent;
  font-style: italic;
}

.sidebar a i {
  width: 25px; /* Reduce icon width */
  text-align: center;
}

.sidebar a span {
  display: inline; 
  
}

.sidebar a:hover {
  background: rgba(11, 7, 233, 0.1); 
  border-left: 5px solid #ffc107; 
}


.sidebar a.active {
  background: rgba(64, 147, 255, 0.2); 
  border-left: 10px solid #f80a0a; 
}

.sidebar::-webkit-scrollbar {
  width: 8px;
}

.sidebar::-webkit-scrollbar-thumb {
  background: #ffc107; 
  border-radius: 5px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background: #f80606;
}

   