
body {
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
} 

.card-title {
  font-size: 1.0rem;
} 
.table-header {
  background-color: #72a08b; 
  color: white; 
} 
.content {
  margin-left: 250px; /* Match sidebar width */
  flex-grow: 1;
  padding: 50px;
  width: calc(100% - 250px); /* Ensure correct width */
  background-color: rgb(248, 249, 250);
  transition: margin-left 0.3s ease;
  font-family:Arial, Helvetica, sans-serif;
}

 
  
  form.d-flex .btn {
    margin-left: 0.5rem;
  }

.navbar {
  background-color: #0b8adf !important;
  border-bottom: 3px solid black;
  padding: 0px;
}

.navbar-brand {
  font-size: 5px;
  font-weight: bold;
  color: white !important;
}

  #fullscreen-btn {
      background-color: white;
      color: black;
      border: 1px solid rgb(245, 243, 243);
      padding: 8px 15px;
      border-radius: 5px;
      cursor: pointer;
  }
  #fullscreen-btn:hover {
      background-color: black;
      color: white;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: 0; 
    height: 100vh;
    width: 250px; 
    background-color: rgb(236, 242, 247);
    padding-top: 20px;
    overflow-y: auto;
    transition: all 0.3s ease-in-out;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

.sidebar a {
  display: flex;
  align-items: center;
  padding: 12px;
  font-size: 8px;
  text-align: center;
  text-decoration: none;
  color: black;
  border-left: 4px solid transparent;
  font-family:'Courier New', Courier, monospace;
}

.sidebar a i {
  width: 20px;
  text-align: center;
}

.sidebar a span {
  display: inline; 
  
}

.sidebar a:hover {
  background: rgba(11, 7, 233, 0.1); 
  border-left: 5px solid #ffc107; 
}


.sidebar a.active {
  background: rgba(64, 147, 255, 0.2); 
  border-left: 10px solid #f80a0a; 
}

.sidebar::-webkit-scrollbar {
  width: 8px;
}

.sidebar::-webkit-scrollbar-thumb {
  background: #ffc107; 
  border-radius: 5px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background: #f80606;
}

   .table-header{
    background-color: aliceblue;
   }

   .card {
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
}
.card:hover {
    transform: scale(1.05);
}
.border-left-warning {
    border-left: 40px solid #ffc107 !important;
}
.border-left-success {
    border-left: 60px solid #28a745 !important;
}
.border-left-info {
    border-left: 40px solid #17a2b8 !important;
}
.border-left-danger {
    border-left: 40px solid #dc3545 !important;
}
.border-left-primary {
    border-left: 40px solid #007bff !important;
}
.border-left-dark{
    border-left: 40px solid #343a40 !important;

}
.border-left-secondary{
    border-left: 40px solid #6c757d !important;
}
